<section class="container" style="margin-top:200px;background:black;width:600px;padding-top:50px">
  <form action="/login" method="POST">
    {{#if loginErr}}
    <p style="color:red;text-align:center" class="error">{{loginErr}}</p>
    {{/if}}
    <!-- Email input -->

    <div class="form-outline mt-4">
      <input type="email" class="form-control" name="Email" style="width: 400px;position:relative;left:100px;style="
        margin-top:50px">
      <label class="form-label" for="form2Example1" style="color:white;position:relative;left: 230px;" ;>Email
        address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" class="form-control" name="Password" style="width: 400px;position:relative;left: 100px;" />
      <label class="form-label" for="form2Example2" style="color:white;position:relative;left: 230px">Password</label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" style="position: relative;left:230px">Sign in</button>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31" style="color:white"> Remember me </label>
        </div>
      </div>
      <!-- Register buttons -->
      <div class="text-center">
        <p style="color:white">Not a member? <a href="/signup">Register</a></p>


      </div>
  </form>
</section>